a.block-link{display:block;text-decoration:none!important;padding:0;margin:0;color:inherit}a.block-link:link,a.block-link:visited,a.block-link:hover,a.block-link:active{color:inherit}
 a.anchor{height:0!important;font-size:0!important;line-height:0!important;padding:0!important;margin:0!important} 
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_336 {
		font-family: 'Baloo 2', sans-serif;
		font-weight: 300;
		font-style: normal;
		font-size: 250%;
		line-height: 130%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_336 {
		color: rgba(14, 113, 147, 1.00);
	}
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_1255 {
		font-family: 'Baloo 2', sans-serif;
		font-weight: 300;
		font-style: normal;
		font-size: 250%;
		line-height: 130%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_1255 {
		color: rgba(0, 0, 128, 1.00);
	}
}

#stacks_in_1255 {
	margin: 40px 0px 0px 175px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_586 {
		font-family: 'Baloo 2', sans-serif;
		font-weight: 200;
		font-style: normal;
		font-size: 160%;
		line-height: 130%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_586 {
		color: rgba(64, 0, 128, 1.00);
	}
}

#stacks_in_586 {
	margin: 50px 0px 10px 0px;
}
#stacks_in_1441>.s3_row {
	margin: 0 -10px;
}

#stacks_in_1441>.s3_row>.s3_column_left {
	width: 28.00%;
}

#stacks_in_1441>.s3_row>.s3_column_center {
	width: 32.000000%;
}

#stacks_in_1441>.s3_row>.s3_column_right {
	width: 40.00%;
}

#stacks_in_1441>.s3_row>.s3_column {
	padding: 0 10px;
}








@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_1441>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_1441>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}




#stacks_in_1468 {
	padding: 0px 0px 0px 30px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_1385 {
		font-family: 'Mate SC', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 50%;
		line-height: 100%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_1385 {
		color: rgba(255, 0, 0, 1.00);
	}
}

#stacks_in_1385 {
	margin: 20px 0px 0px 0px;
}

#stacks_in_1387 {
	background-color: rgba(20, 64, 87, 1.00);
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_1505 {
		font-family: 'Roboto', sans-serif;
		font-weight: 500;
		font-style: normal;
		font-size: 85%;
		line-height: 130%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_1505 {
		color: rgba(20, 64, 87, 1.00);
	}
}

#stacks_in_1505 {
	background-color: rgba(19, 153, 204, 0.10);
	-moz-border-radius:  10px;
	-webkit-border-radius:  10px;
	border-radius:  10px;
	margin: 35px 40px 0px 40px;
}

#stacks_in_1507 {
	padding: 15px 0px 0px 0px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_1509 {
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 60%;
		line-height: 90%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_1509 {
		color: rgba(20, 64, 87, 1.00);
	}
}

#stacks_in_1509 {
	background-color: rgba(19, 153, 204, 0.00);
	margin: 0px 40px 0px 40px;
}

#stacks_in_1511 {
	background-color: rgba(19, 153, 204, 0.00);
	margin: 0px 0px 4px 0px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_1394 {
		font-family: 'Mate SC', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 50%;
		line-height: 100%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_1394 {
		color: rgba(255, 0, 0, 1.00);
	}
}

#stacks_in_1394 {
	margin: 25px 0px 0px 0px;
}

#stacks_in_1396 {
	background-color: rgba(20, 64, 87, 1.00);
}
#stacks_in_1234>.s3_row {
	margin: 0 -10px;
}

#stacks_in_1234>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_1234>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_1234>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_1234>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_1234>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}





@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_1237 {
		font-family: 'Baloo 2', sans-serif;
		font-weight: 600;
		font-style: normal;
		font-size: 120%;
		line-height: 100%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_1237 {
		color: rgba(20, 64, 87, 1.00);
	}
}

#stacks_in_1237 {
	margin: 60px 0px 0px 0px;
}
@media all {
	
	
	
	
	h1,
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_789 {
		font-family: 'Baloo 2', sans-serif;
		font-weight: 600;
		font-style: normal;
		font-size: 120%;
		line-height: 100%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_789 {
		color: rgba(20, 64, 87, 1.00);
	}
}

#stacks_in_789 {
	margin: 60px 0px 0px 60px;
}

#stacks_out_789 {
	margin-left:0;
}

#stacks_in_791 {
	margin: 0px 0px 0px 10px;
}
#stacks_in_780>.s3_row {
	margin: 0 -5px;
}

#stacks_in_780>.s3_row>.s3_column_left {
	width: 55.00%;
}

#stacks_in_780>.s3_row>.s3_column_right {
	width: 45.000000%;
}




#stacks_in_780>.s3_row>.s3_column {
	padding: 0 5px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_780>.s3_row  {
		margin: -5px 0;
	}
	#stacks_in_780>.s3_row>.s3_column {
		padding: 5px 0;
		width:100%;
	}


}





@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_73 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 500;
		font-style: normal;
		font-size: 120%;
		line-height: 130%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_73 {
		color: rgba(76, 76, 76, 1.00);
	}
}

#stacks_in_73 {
	margin: 15px 0px 0px 0px;
}

#stacks_in_88 {
	background-color: rgba(255, 255, 255, 1.00);
	margin: 5px 0px 10px 5px;
}

#stacks_in_1259 {
	background-color: rgba(255, 255, 255, 1.00);
	margin: 5px 0px 30px 45px;
}

#stacks_in_340 {
	background-color: rgba(255, 255, 255, 1.00);
	margin: 5px 0px 10px 5px;
}

#stacks_in_1359 {
	background-color: rgba(255, 255, 255, 1.00);
	margin: 5px 0px 5px 45px;
}

#stacks_in_1361 {
	background-color: rgba(255, 255, 255, 1.00);
	margin: 5px 0px 30px 45px;
}

#stacks_in_346 {
	background-color: rgba(255, 255, 255, 1.00);
	margin: 5px 0px 10px 5px;
}

#stacks_in_1363 {
	background-color: rgba(255, 255, 255, 1.00);
	margin: 5px 0px 30px 45px;
}

#stacks_in_1261 {
	background-color: rgba(255, 255, 255, 1.00);
	margin: 5px 0px 30px 5px;
}

#stacks_in_348 {
	background-color: rgba(255, 255, 255, 1.00);
	margin: 5px 0px 30px 5px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_1392 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 500;
		font-style: normal;
		font-size: 150%;
		line-height: 150%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_1392 {
		color: rgba(20, 64, 87, 1.00);
	}
}

#stacks_in_1392 {
	margin: 0px 0px 10px 0px;
}

#stacks_in_1365 {
	background-color: rgba(255, 255, 255, 1.00);
	margin: 5px 0px 30px 5px;
}

.stacks_left {
	float:left;
}

.stacks_row {
	overflow:hidden;
	margin:0 auto;
}
#stacks_in_783 .stacks_left {
	width:400px;
}

#stacks_in_783 .stacks_row {
	width:400px;
}
#stacks_in_783 {
	-moz-border-radius:  1px;
	-webkit-border-radius:  1px;
	border-radius:  1px;
	margin: 0px 20px 20px 0px;
	padding: 0px 20px 0px 0px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_742 {
		font-family: 'Sans Open', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 100%;
		line-height: 100%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_742 {
		color: rgba(51, 51, 51, 1.00);
	}
}

#stacks_in_742 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  2px;
	margin: 20px 140px 3px 30px;
}

#stacks_in_1243 {
	padding: 10px 0px 10px 0px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_769 {
		font-family: 'Sans Open', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 100%;
		line-height: 100%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_769 {
		color: rgba(51, 51, 51, 1.00);
	}
}

#stacks_in_769 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  2px;
	margin: 35px 140px 3px 30px;
}

#stacks_in_753 {
	padding: 10px 0px 10px 0px;
}

#stacks_in_755 {
	border: solid rgba(255, 255, 255, 1.00);
	border-width: 5px 10px 10px 10px;
}

#stacks_out_755 {
	width: 200px;
	float: left;
	margin-left:0;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_760 {
		font-family: 'Sans Open', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 100%;
		line-height: 100%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_760 {
		color: rgba(51, 51, 51, 1.00);
	}
}

#stacks_in_760 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  2px;
	margin: 35px 140px 3px 30px;
}

#stacks_in_1239 {
	padding: 10px 0px 10px 0px;
}

#stacks_in_1240 {
	border: solid rgba(255, 255, 255, 1.00);
	border-width: 5px 10px 10px 10px;
}

#stacks_out_1240 {
	width: 200px;
	float: left;
	margin-left:0;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_733 {
		font-family: 'Sans Open', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 100%;
		line-height: 100%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_733 {
		color: rgba(51, 51, 51, 1.00);
	}
}

#stacks_in_733 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  2px;
	margin: 35px 140px 3px 30px;
}

#stacks_in_744 {
	padding: 10px 0px 10px 0px;
}

#stacks_in_746 {
	border: solid rgba(255, 255, 255, 1.00);
	border-width: 5px 10px 10px 10px;
}

#stacks_out_746 {
	width: 200px;
	float: left;
	margin-left:0;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_751 {
		font-family: 'Sans Open', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 100%;
		line-height: 100%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_751 {
		color: rgba(51, 51, 51, 1.00);
	}
}

#stacks_in_751 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  2px;
	margin: 35px 140px 3px 30px;
}

#stacks_in_762 {
	padding: 10px 0px 10px 0px;
}

#stacks_in_764 {
	border: solid rgba(255, 255, 255, 1.00);
	border-width: 5px 10px 10px 10px;
}

#stacks_out_764 {
	width: 200px;
	float: left;
	margin-left:0;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_63 {
		font-family: 'Sans Open', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 150%;
		line-height: 134%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_63 {
		color: rgba(20, 64, 87, 1.00);
	}
}

#stacks_in_63 {
	background-color: rgba(255, 255, 255, 1.00);
	border: solid rgba(128, 128, 128, 1.00);
	border-width: 2px 0px 0px 0px;
	margin: 0px 20px 15px 10px;
}

#stacks_in_84 {
	margin: 0px 0px 20px 0px;
}

#stacks_in_865 {
	background-color: rgba(20, 64, 87, 1.00);
	margin: 30px 0px 30px 0px;
	padding: 2px 0px 2px 2px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_355 {
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 100%;
		line-height: 150%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_355 {
		color: rgba(14, 113, 147, 1.00);
	}
}

#stacks_in_355 {
	margin: 10px 0px 10px 0px;
}
#stacks_in_581>.s3_row {
	margin: 0 -10px;
}

#stacks_in_581>.s3_row>.s3_column_left {
	width: 35.56%;
}

#stacks_in_581>.s3_row>.s3_column_right {
	width: 64.440002%;
}




#stacks_in_581>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_581>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_581>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}






#stacks_in_581 {
	margin: 0px 40px 0px 0px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_1251 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		font-style: normal;
		font-size: 180%;
		line-height: 130%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_1251 {
		color: rgba(20, 64, 87, 1.00);
	}
}

#stacks_in_1251 {
	margin: 15px 0px 15px 0px;
}

#stacks_in_1253 {
	margin: 0px 0px 0px 75px;
}

.stacks_left {
	float:left;
}

.stacks_row {
	overflow:hidden;
	margin:0 auto;
}
#stacks_in_469 .stacks_left {
	width:250px;
}

#stacks_in_469 .stacks_row {
	width:250px;
}
#stacks_in_469 {
	margin: 10px 0px 0px 0px;
	padding: 0px 0px 0px 15px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_478 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 200%;
		line-height: 100%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_478 {
		color: rgba(255, 255, 255, 1.00);
	}
}

#stacks_in_478 {
	background-color: rgba(145, 33, 3, 1.00);
	border: solid rgba(145, 33, 3, 1.00);
	border-width:  4px;
	-moz-border-radius:  4px;
	-webkit-border-radius:  4px;
	border-radius:  4px;
	margin: 10px 0px 10px 0px;
	padding: 15px 0px 5px 0px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_482 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 200%;
		line-height: 100%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_482 {
		color: rgba(255, 255, 255, 1.00);
	}
}

#stacks_in_482 {
	background-color: rgba(146, 113, 4, 1.00);
	border: solid rgba(146, 113, 4, 1.00);
	border-width:  4px;
	-moz-border-radius:  4px;
	-webkit-border-radius:  4px;
	border-radius:  4px;
	margin: 10px 0px 10px 0px;
	padding: 15px 0px 5px 0px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_486 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 200%;
		line-height: 100%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_486 {
		color: rgba(255, 255, 255, 1.00);
	}
}

#stacks_in_486 {
	background-color: rgba(78, 0, 147, 1.00);
	border: solid rgba(78, 0, 147, 1.00);
	border-width:  4px;
	-moz-border-radius:  4px;
	-webkit-border-radius:  4px;
	border-radius:  4px;
	margin: 10px 0px 10px 0px;
	padding: 15px 0px 5px 0px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_562 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		font-style: normal;
		font-size: 180%;
		line-height: 130%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_562 {
		color: rgba(20, 64, 87, 1.00);
	}
}

#stacks_in_562 {
	margin: 15px 0px 15px 0px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_566 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 110%;
		line-height: 150%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_566 {
		color: rgba(51, 51, 51, 1.00);
	}
}

#stacks_in_566 {
	background-color: rgba(230, 230, 230, 1.00);
	margin: 0px 60px 0px 0px;
	padding: 10px 0px 0px 0px;
}

#stacks_in_568 {
	margin: 11px 0px 5px 0px;
	padding: 0px 5px 0px 0px;
}

#stacks_in_579 {
	margin: 0px 0px 5px 0px;
	padding: 0px 5px 0px 0px;
}

#stacks_in_575 {
	margin: 0px 0px 5px 0px;
	padding: 0px 5px 0px 0px;
}

#stacks_in_577 {
	margin: 0px 0px 5px 0px;
	padding: 0px 5px 0px 0px;
}

#stacks_in_584 {
	padding:  5px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_1410 {
		font-family: 'Roboto', sans-serif;
		font-weight: 500;
		font-style: normal;
		font-size: 150%;
		line-height: 130%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_1410 {
		color: rgba(20, 64, 87, 1.00);
	}
}

#stacks_in_1410 {
	background-color: rgba(19, 153, 204, 0.10);
	-moz-border-radius:  10px;
	-webkit-border-radius:  10px;
	border-radius:  10px;
	margin: 35px 40px 0px 40px;
}

#stacks_in_1412 {
	padding: 15px 0px 0px 0px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_1414 {
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 60%;
		line-height: 90%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_1414 {
		color: rgba(20, 64, 87, 1.00);
	}
}

#stacks_in_1414 {
	background-color: rgba(19, 153, 204, 0.00);
	margin: 0px 40px 0px 40px;
}

#stacks_in_1416 {
	background-color: rgba(19, 153, 204, 0.00);
	margin: 0px 0px 4px 0px;
}

#stacks_in_869 {
	background-color: rgba(20, 64, 87, 1.00);
	margin: 30px 0px 0px 0px;
	padding: 2px 0px 2px 2px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_556 {
		font-family: 'Baloo 2', sans-serif;
		font-weight: 600;
		font-style: normal;
		font-size: 180%;
		line-height: 130%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_556 {
		color: rgba(20, 64, 87, 1.00);
	}
}

#stacks_in_556 {
	margin: 25px 0px 0px 0px;
}

#stacks_in_558 {
	margin: 10px 0px 20px 0px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_843 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 150%;
		line-height: 130%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_843 {
		color: rgba(14, 113, 147, 1.00);
	}
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_460 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 100%;
		line-height: 150%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_460 {
		color: rgba(76, 76, 76, 1.00);
	}
}

#stacks_in_462 {
	padding: 0px 0px 10px 0px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_849 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		font-style: normal;
		font-size: 150%;
		line-height: 130%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_849 {
		color: rgba(14, 113, 147, 1.00);
	}
}

#stacks_in_849 {
	margin: 0px 9px 0px 0px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_455 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 150%;
		line-height: 130%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_455 {
		color: rgba(14, 113, 147, 1.00);
	}
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_465 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 100%;
		line-height: 150%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_465 {
		color: rgba(76, 76, 76, 1.00);
	}
}

#stacks_in_467 {
	padding: 0px 0px 10px 0px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_1418 {
		font-family: 'Roboto', sans-serif;
		font-weight: 500;
		font-style: normal;
		font-size: 150%;
		line-height: 100%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_1418 {
		color: rgba(20, 64, 87, 1.00);
	}
}

#stacks_in_1418 {
	background-color: rgba(19, 153, 204, 0.10);
	-moz-border-radius:  10px;
	-webkit-border-radius:  10px;
	border-radius:  10px;
	margin: 35px 40px 0px 40px;
}

#stacks_in_1420 {
	padding: 15px 0px 0px 0px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_1422 {
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 60%;
		line-height: 90%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_1422 {
		color: rgba(20, 64, 87, 1.00);
	}
}

#stacks_in_1422 {
	background-color: rgba(19, 153, 204, 0.00);
	margin: 0px 40px 0px 40px;
}

#stacks_in_1424 {
	background-color: rgba(19, 153, 204, 0.00);
	margin: 0px 0px 4px 0px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_885 {
		font-family: 'Mate SC', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 50%;
		line-height: 100%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_885 {
		color: rgba(255, 0, 0, 1.00);
	}
}

#stacks_in_887 {
	background-color: rgba(20, 64, 87, 1.00);
	margin: 20px 0px 0px 0px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_598 {
		font-family: 'Baloo 2', sans-serif;
		font-weight: 600;
		font-style: normal;
		font-size: 180%;
		line-height: 130%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_598 {
		color: rgba(20, 64, 87, 1.00);
	}
}

#stacks_in_598 {
	margin: 30px 0px 0px 0px;
}
@media all {
	
	
	
	
	h1,
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_606 {
		font-family: 'Baloo 2', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 150%;
		line-height: 130%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_606 {
		color: rgba(14, 113, 147, 1.00);
	}
}

#stacks_in_606 {
	margin: 15px 0px 0px 0px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_610 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 100%;
		line-height: 150%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_610 {
		color: rgba(20, 64, 87, 1.00);
	}
}
#stacks_in_612>.s3_row {
	margin: 0 -19px;
}

#stacks_in_612>.s3_row>.s3_column_left {
	width: 35.07%;
}

#stacks_in_612>.s3_row>.s3_column_center {
	width: 31.340000%;
}

#stacks_in_612>.s3_row>.s3_column_right {
	width: 33.59%;
}

#stacks_in_612>.s3_row>.s3_column {
	padding: 0 19px;
}








@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_612>.s3_row  {
		margin: -19px 0;
	}
	#stacks_in_612>.s3_row>.s3_column {
		padding: 19px 0;
		width:100%;
	}


}




#stacks_in_612 {
	padding: 0px 60px 0px 20px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_618 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 100%;
		line-height: 150%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_618 {
		color: rgba(20, 64, 87, 1.00);
	}
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_620 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 100%;
		line-height: 150%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_620 {
		color: rgba(20, 64, 87, 1.00);
	}
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_624 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 100%;
		line-height: 150%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_624 {
		color: rgba(20, 64, 87, 1.00);
	}
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_1335 {
		font-family: 'Baloo 2', sans-serif;
		font-weight: 600;
		font-style: normal;
		font-size: 180%;
		line-height: 130%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_1335 {
		color: rgba(255, 0, 0, 1.00);
	}
}

#stacks_in_1335 {
	margin: 0px 0px 0px 170px;
}

#stacks_out_1335 {
	margin-right:0;
}

.stacks_left {
	float:left;
}

.stacks_row {
	overflow:hidden;
	margin:0 auto;
}
#stacks_in_1326 .stacks_left {
	width:200px;
}

#stacks_in_1326 .stacks_row {
	width:600px;
}
#stacks_in_1326 {
	padding: 0px 0px 20px 0px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_699 {
		font-family: 'Mate SC', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 100%;
		line-height: 100%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_699 {
		color: rgba(255, 0, 0, 1.00);
	}
}

#stacks_in_699 {
	background-color: rgba(20, 64, 87, 1.00);
	border: solid rgba(255, 255, 255, 1.00);
	border-width:  1px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_649 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 700;
		font-style: normal;
		font-size: 150%;
		line-height: 150%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_649 {
		color: rgba(255, 255, 255, 1.00);
	}
}

#stacks_in_649 {
	background-color: rgba(20, 64, 87, 1.00);
	padding: 20px 0px 0px 0px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_653 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		font-style: normal;
		font-size: 116%;
		line-height: 150%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_653 {
		color: rgba(255, 255, 255, 1.00);
	}
}

#stacks_in_653 {
	background-color: rgba(20, 64, 87, 1.00);
	padding: 20px 15px 0px 15px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_659 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		font-style: normal;
		font-size: 116%;
		line-height: 150%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_659 {
		color: rgba(255, 255, 255, 1.00);
	}
}

#stacks_in_659 {
	background-color: rgba(20, 64, 87, 1.00);
	padding: 10px 15px 0px 15px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_663 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		font-style: normal;
		font-size: 116%;
		line-height: 150%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_663 {
		color: rgba(255, 255, 255, 1.00);
	}
}

#stacks_in_663 {
	background-color: rgba(20, 64, 87, 1.00);
	margin: 0px 0px 25px 0px;
	padding: 10px 15px 21px 15px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_719 {
		font-family: 'Mate SC', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 100%;
		line-height: 100%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_719 {
		color: rgba(255, 0, 0, 1.00);
	}
}

#stacks_in_719 {
	background-color: rgba(14, 113, 147, 1.00);
	border: solid rgba(255, 255, 255, 1.00);
	border-width:  1px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_683 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 700;
		font-style: normal;
		font-size: 150%;
		line-height: 150%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_683 {
		color: rgba(255, 255, 255, 1.00);
	}
}

#stacks_in_683 {
	background-color: rgba(14, 113, 147, 1.00);
	padding: 20px 0px 20px 0px;
}

#stacks_in_1302 {
	padding: 0px 0px 17px 0px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_684 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		font-style: normal;
		font-size: 116%;
		line-height: 150%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_684 {
		color: rgba(255, 255, 255, 1.00);
	}
}

#stacks_in_684 {
	background-color: rgba(14, 113, 147, 1.00);
	padding: 0px 15px 0px 15px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_685 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		font-style: normal;
		font-size: 116%;
		line-height: 150%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_685 {
		color: rgba(255, 255, 255, 1.00);
	}
}

#stacks_in_685 {
	background-color: rgba(14, 113, 147, 1.00);
	padding: 10px 15px 30px 15px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_721 {
		font-family: 'Mate SC', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 100%;
		line-height: 100%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_721 {
		color: rgba(255, 0, 0, 1.00);
	}
}

#stacks_in_721 {
	border: solid rgba(255, 255, 255, 1.00);
	border-width:  1px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_671 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 700;
		font-style: normal;
		font-size: 150%;
		line-height: 150%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_671 {
		color: rgba(255, 255, 255, 1.00);
	}
}

#stacks_in_671 {
	background-color: rgba(81, 115, 169, 1.00);
	padding: 20px 0px 0px 0px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_672 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		font-style: normal;
		font-size: 116%;
		line-height: 150%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_672 {
		color: rgba(255, 255, 255, 1.00);
	}
}

#stacks_in_672 {
	background-color: rgba(81, 115, 169, 1.00);
	padding: 40px 15px 0px 15px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_673 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		font-style: normal;
		font-size: 116%;
		line-height: 150%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_673 {
		color: rgba(255, 255, 255, 1.00);
	}
}

#stacks_in_673 {
	background-color: rgba(81, 115, 169, 1.00);
	padding: 10px 15px 30px 15px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_1426 {
		font-family: 'Roboto', sans-serif;
		font-weight: 500;
		font-style: normal;
		font-size: 150%;
		line-height: 130%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_1426 {
		color: rgba(20, 64, 87, 1.00);
	}
}

#stacks_in_1426 {
	background-color: rgba(19, 153, 204, 0.10);
	-moz-border-radius:  10px;
	-webkit-border-radius:  10px;
	border-radius:  10px;
	margin: 35px 40px 0px 40px;
}

#stacks_in_1428 {
	padding: 15px 0px 0px 0px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_1430 {
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 60%;
		line-height: 90%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_1430 {
		color: rgba(20, 64, 87, 1.00);
	}
}

#stacks_in_1430 {
	background-color: rgba(19, 153, 204, 0.00);
	margin: 0px 40px 0px 40px;
}

#stacks_in_1432 {
	background-color: rgba(19, 153, 204, 0.00);
	margin: 0px 0px 4px 0px;
}

#stacks_in_877 {
	background-color: rgba(20, 64, 87, 1.00);
	margin: 30px 0px 30px 0px;
	padding: 2px 0px 2px 2px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_891 {
		font-family: 'Baloo 2', sans-serif;
		font-weight: 600;
		font-style: normal;
		font-size: 180%;
		line-height: 130%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_891 {
		color: rgba(14, 113, 147, 1.00);
	}
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_1001 {
		font-family: 'Baloo 2', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 150%;
		line-height: 130%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_1001 {
		color: rgba(14, 113, 147, 1.00);
	}
}

#stacks_in_1001 {
	margin: 15px 0px 0px 0px;
}

#stacks_in_1003 {
	margin: 0px 0px 20px 0px;
}
#stacks_in_1166>.s3_row {
	margin: 0 -8px;
}

#stacks_in_1166>.s3_row>.s3_column_left {
	width: 30.00%;
}

#stacks_in_1166>.s3_row>.s3_column_center {
	width: 34.000000%;
}

#stacks_in_1166>.s3_row>.s3_column_right {
	width: 36.00%;
}

#stacks_in_1166>.s3_row>.s3_column {
	padding: 0 8px;
}








@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_1166>.s3_row  {
		margin: -8px 0;
	}
	#stacks_in_1166>.s3_row>.s3_column {
		padding: 8px 0;
		width:100%;
	}


}



@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_1168 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 500;
		font-style: normal;
		font-size: 150%;
		line-height: 130%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_1168 {
		color: rgba(20, 64, 87, 1.00);
	}
}

#stacks_out_895 {
	width: 220px;
	margin-left:0;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_1179 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		font-style: normal;
		font-size: 100%;
		line-height: 120%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_1179 {
		color: rgba(20, 64, 87, 1.00);
	}
}

#stacks_in_905 {
	margin: 0px 0px 10px 0px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_1208 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 95%;
		line-height: 130%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_1208 {
		color: rgba(20, 64, 87, 1.00);
	}
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_1192 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		font-style: normal;
		font-size: 100%;
		line-height: 120%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_1192 {
		color: rgba(20, 64, 87, 1.00);
	}
}

#stacks_in_1195 {
	margin: 0px 0px 10px 0px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_1222 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 95%;
		line-height: 130%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_1222 {
		color: rgba(20, 64, 87, 1.00);
	}
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_1005 {
		font-family: 'Mate SC', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 50%;
		line-height: 100%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_1005 {
		color: rgba(255, 0, 0, 1.00);
	}
}

#stacks_in_1005 {
	margin: 20px 0px 0px 0px;
}

#stacks_in_1007 {
	background-color: rgba(20, 64, 87, 1.00);
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_959 {
		font-family: 'Baloo 2', sans-serif;
		font-weight: 600;
		font-style: normal;
		font-size: 180%;
		line-height: 130%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_959 {
		color: rgba(20, 64, 87, 1.00);
	}
}

#stacks_in_959 {
	margin: 30px 10px 0px 0px;
}

#stacks_in_961 {
	margin: 0px 0px 10px 0px;
}
#stacks_in_1136>.s3_row {
	margin: 0 -10px;
}

#stacks_in_1136>.s3_row>.s3_column_left {
	width: 33.33%;
}

#stacks_in_1136>.s3_row>.s3_column_center {
	width: 32.669998%;
}

#stacks_in_1136>.s3_row>.s3_column_right {
	width: 34.00%;
}

#stacks_in_1136>.s3_row>.s3_column {
	padding: 0 10px;
}








@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_1136>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_1136>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}



@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_1120 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		font-style: normal;
		font-size: 100%;
		line-height: 120%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_1120 {
		color: rgba(20, 64, 87, 1.00);
	}
}

#stacks_in_1120 {
	margin: 0px 0px 0px 10px;
}

#stacks_in_1123 {
	padding: 0px 0px 10px 0px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_1152 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 100%;
		line-height: 150%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_1152 {
		color: rgba(20, 64, 87, 1.00);
	}
}

#stacks_in_1152 {
	margin: 0px 0px 0px 10px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_1128 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		font-style: normal;
		font-size: 100%;
		line-height: 120%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_1128 {
		color: rgba(20, 64, 87, 1.00);
	}
}

#stacks_in_1128 {
	margin: 0px 0px 0px 20px;
}

#stacks_in_1131 {
	padding: 0px 0px 10px 0px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_1158 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 100%;
		line-height: 150%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_1158 {
		color: rgba(20, 64, 87, 1.00);
	}
}

#stacks_in_1158 {
	margin: 0px 0px 0px 20px;
}

#stacks_in_1164 {
	margin: 9px 0px 0px 0px;
}

#stacks_in_1115 {
	padding: 10px 0px 0px 0px;
}

#stacks_out_1115 {
	width: 300px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_1513 {
		font-family: 'Roboto', sans-serif;
		font-weight: 500;
		font-style: normal;
		font-size: 150%;
		line-height: 100%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_1513 {
		color: rgba(20, 64, 87, 1.00);
	}
}

#stacks_in_1513 {
	background-color: rgba(19, 153, 204, 0.10);
	-moz-border-radius:  10px;
	-webkit-border-radius:  10px;
	border-radius:  10px;
	margin: 25px 40px 0px 40px;
}

#stacks_in_1515 {
	padding: 15px 0px 0px 0px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_1517 {
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 70%;
		line-height: 100%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_1517 {
		color: rgba(20, 64, 87, 1.00);
	}
}

#stacks_in_1517 {
	background-color: rgba(19, 153, 204, 0.00);
	margin: 0px 40px 0px 40px;
}

#stacks_in_1519 {
	background-color: rgba(19, 153, 204, 0.00);
	margin: 0px 0px 4px 0px;
}

#stacks_in_1049 {
	background-color: rgba(20, 64, 87, 1.00);
	margin: 30px 0px 30px 0px;
	padding: 2px 0px 2px 2px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_1018 {
		font-family: 'Baloo 2', sans-serif;
		font-weight: 600;
		font-style: normal;
		font-size: 180%;
		line-height: 130%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_1018 {
		color: rgba(20, 64, 87, 1.00);
	}
}

#stacks_in_1018 {
	margin: 20px 0px 0px 0px;
}
@media all {
	
	
	
	
	h1,
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_1019 {
		font-family: 'Baloo 2', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 150%;
		line-height: 130%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_1019 {
		color: rgba(14, 113, 147, 1.00);
	}
}

#stacks_in_1019 {
	margin: 15px 0px 0px 0px;
}

#stacks_out_1019 {
	margin-left:0;
}
#stacks_in_1071>.s3_row {
	margin: 0 -10px;
}

#stacks_in_1071>.s3_row>.s3_column_left {
	width: 20.00%;
}

#stacks_in_1071>.s3_row>.s3_column_right {
	width: 80.000000%;
}




#stacks_in_1071>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_1071>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_1071>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}






#stacks_in_1071 {
	margin: 20px 0px 0px 0px;
}

#stacks_out_1080 {
	width: 250px;
}
#stacks_in_1031>.s3_row {
	margin: 0 -15px;
}

#stacks_in_1031>.s3_row>.s3_column_left {
	width: 33.29%;
}

#stacks_in_1031>.s3_row>.s3_column_center {
	width: 34.709999%;
}

#stacks_in_1031>.s3_row>.s3_column_right {
	width: 32.00%;
}

#stacks_in_1031>.s3_row>.s3_column {
	padding: 0 15px;
}








@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_1031>.s3_row  {
		margin: -15px 0;
	}
	#stacks_in_1031>.s3_row>.s3_column {
		padding: 15px 0;
		width:100%;
	}


}




#stacks_in_1031 {
	margin: 0px 0px 0px 70px;
	padding: 0px 20px 0px 70px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_1033 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 100%;
		line-height: 150%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_1033 {
		color: rgba(20, 64, 87, 1.00);
	}
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_1038 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 100%;
		line-height: 150%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_1038 {
		color: rgba(20, 64, 87, 1.00);
	}
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_1043 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 100%;
		line-height: 150%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_1043 {
		color: rgba(20, 64, 87, 1.00);
	}
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_1088 {
		font-family: 'Mate SC', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 50%;
		line-height: 100%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_1088 {
		color: rgba(255, 0, 0, 1.00);
	}
}

#stacks_in_1088 {
	margin: 50px 0px 0px 0px;
}

#stacks_in_1090 {
	background-color: rgba(20, 64, 87, 1.00);
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_881 {
		font-family: 'Baloo 2', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 250%;
		line-height: 130%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_881 {
		color: rgba(146, 113, 4, 1.00);
	}
}

#stacks_in_881 {
	margin: 25px 0px 0px 0px;
}

.stacks_left {
	float:left;
}

.stacks_row {
	overflow:hidden;
	margin:0 auto;
}
#stacks_in_793 .stacks_left {
	width:125px;
}

#stacks_in_793 .stacks_row {
	width:625px;
}
#stacks_in_793 {
	margin: 20px 0px 0px 0px;
	padding: 5px 0px 0px 0px;
}

#stacks_out_793 {
	margin-left:0;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_806 {
		font-family: 'Sans Open', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 65%;
		line-height: 100%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_806 {
		color: rgba(51, 51, 51, 1.00);
	}
}

#stacks_in_806 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  2px;
	margin: 0px 3px 0px 0px;
}

#stacks_in_808 {
	padding: 10px 0px 10px 0px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_833 {
		font-family: 'Sans Open', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 65%;
		line-height: 100%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_833 {
		color: rgba(51, 51, 51, 1.00);
	}
}

#stacks_in_833 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  2px;
	margin: 0px 3px 0px 0px;
}

#stacks_in_835 {
	padding: 10px 0px 10px 0px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_824 {
		font-family: 'Sans Open', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 65%;
		line-height: 100%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_824 {
		color: rgba(51, 51, 51, 1.00);
	}
}

#stacks_in_824 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  2px;
	margin: 0px 3px 0px 0px;
}

#stacks_in_826 {
	padding: 10px 0px 10px 0px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_797 {
		font-family: 'Sans Open', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 65%;
		line-height: 100%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_797 {
		color: rgba(51, 51, 51, 1.00);
	}
}

#stacks_in_797 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  2px;
	margin: 0px 3px 0px 0px;
}

#stacks_in_799 {
	padding: 10px 0px 10px 0px;
}
@media all {
	
	
	
	
	
	
	
	
	
	
	#uniqueElement, .classElement,
	#fontStackstacks_in_815 {
		font-family: 'Sans Open', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 65%;
		line-height: 100%;
		letter-spacing: 0px;
		direction: ltr;
	}

	#fontStackstacks_in_815 {
		color: rgba(51, 51, 51, 1.00);
	}
}

#stacks_in_815 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  2px;
	margin: 0px 3px 0px 0px;
}

#stacks_in_817 {
	padding: 10px 0px 10px 0px;
}

#stacks_in_1522 {
	font-size: 79%;
}

#stacks_in_1086 {
	background-color: rgba(20, 64, 87, 1.00);
	margin: 30px 0px 30px 0px;
	padding: 2px 0px 2px 2px;
}
